<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script defer type="module" src="./view.js"></script>
    <title>Piquis</title>
  </head>
  <body>
    <div class="content">
      <header style="background-color: lightblue; padding: 4px 12px">
        <h1>Era so Piquis</h1>
      </header>
      <div id="mensagem"></div>
      <div class="caixaBotao">
        <div style="display: flex; flex-direction: column; gap: 12px">
          <input id="idRequisicaoGet" type="text" />
          <button id="requisicaoGet">Consultar</button>
        </div>
      </div>
      <div class="tabela" style="padding: 0 2.5rem">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Departamento</th>
              <th>Endereco</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 2rem 0 3rem 0;
        "
      >
        <div style="display: flex; gap: 10px">
          <div style="display: flex; flex-direction: column">
            <label for="nome">Nome</label>
            <input id="nome" type="text" />
          </div>
          <div style="display: flex; flex-direction: column">
            <label for="departamento">Departamento</label>
            <input id="departamento" type="text" />
          </div>
        </div>
        <div style="display: flex; gap: 10px">
          <div style="display: flex; flex-direction: column">
            <label for="endereco">Endereco</label>
            <input id="endereco" type="text" />
          </div>
          <div style="display: flex; flex-direction: column">
            <label for="email">Email</label>
            <input id="email" type="text" />
          </div>
        </div>
        <button id="alterarDados" style="margin-top: 12px">Enviar</button>
        <div id="mensagemAlteracao"></div>
      </div>
      <footer>
        <span>Thiago Jung Morais, Augusto Klug e Lucas Parisotto</span>
      </footer>
    </div>
  </body>
</html>
